/* dark/light radial transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}
::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

/*  文本块 */
.dark .vp-doc blockquote {
  background-color: #56475769;
  border-left-color: #d2a3f6;
}
.vp-doc blockquote{
  background-color: #f8efffb0;
  border-left-color: #d2a3f6;
}

/* 详情展开 */
.custom-block.details{
  background-color: #f3f3f3;
}
.dark .custom-block.details{
  background-color: var(--vp-custom-block-details-bg);
}


.container .outline-marker {
  width: 2px;
}
.has-outline .outline-title {
  font-size: 14px;
}
.has-outline .outline-link.active {
  color: var(--vp-c-brand-1);
}
/*  */
.link .box .icon {
  transition: transform 0.3s ease-in-out;
}
.link:hover .box .icon {
  transform: scale(1.1);
  background-color: #7de4c34b;
}

/* 本地搜索组件 */
.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.25s;
}
@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }
}
@media (max-width: 768px) {
  .DocSearch-Button-Keys {
    display: none;
  }
  .VPNavBarHamburger{
    height: 32px !important;
    width: 32px !important;
    border-radius: 4px;
  }
}
.content img{
  box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
  transition: all .3s;
}
.content img:hover{
  box-shadow: 0 0 6px 0 rgba(0,0,0,.2);
  transform: translate(0, -2px);
}


 .vp-doc .details.custom-block div[class*='language-'] + div[class*='language-']{
  margin-top:8px;
}

.level-1.is-active{
  color:var(--vp-c-brand-light)
}
