/*  文本块 */
.dark .vp-doc blockquote {
  background-color: #56475769;
  border-left-color: #d2a3f6;
}
.vp-doc blockquote {
  background-color: #f8efffb0;
  border-left-color: #d2a3f6;
}

/* 详情展开 */
.custom-block.details {
  background-color: #f3f3f3;
}
.dark .custom-block.details {
  background-color: var(--vp-custom-block-details-bg);
}

.container .outline-marker {
  width: 2px;
}
.has-outline .outline-title {
  font-size: 14px;
}
.has-outline .outline-link.active {
  color: var(--vp-c-brand-1);
}
.link .box .icon {
  transition: transform 0.3s ease-in-out;
}
.link:hover .box .icon {
  transform: scale(1.1);
  background-color: #7de4c34b;
}

.content img {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
.content img:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, -2px);
}

.vp-doc
  .details.custom-block
  div[class*='language-']
  + div[class*='language-'] {
  margin-top: 8px;
}

.VPNavBarMenuLink.active span,
.level-1.is-active {
  color: var(--vp-c-brand-light) !important;
}

/* 首页 VPFeature */
.container .VPFeature {
  display: flex !important;
  height: 100px !important;
}
.container .VPFeature.link:hover {
  border: 1px solid var(--vp-c-brand-light) !important;
}
.container .VPFeature > article .details {
  line-height: 1em !important;
}
.container .VPFeature > article {
  display: block !important;
  width: 100% !important;
}
.container .VPFeature > article .icon {
  float: left !important;
  margin-right: 10px !important;
}
