:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(120deg, #bd34fe, #41d1ff);
  --vp-home-hero-image-filter: blur(80px);
  --vp-code-block-bg: #f6f8fa;
  --vp-code-line-highlight-color: #e9ffef;
}
html.dark:root{
  --vp-code-block-bg:#0d121b;
  --vp-code-line-highlight-color: rgba(0, 0, 0, .8);
}